extends layout

block content
  h1= title
  p Welcome to #{title}
  div
    div
      img(src="https://17f9c466e759.ngrok.io/setCookie")
    a(href="https://17f9c466e759.ngrok.io/Test")
        | Test Link Navication
  pre
    | When the reader is on the other person's blog the cookie will not be sent when the browser requests amazing-cat.png. However when the reader follows the link through to cat.html on your blog, that request will include the cookie. This makes Lax a good choice for cookies affecting the display of the site with Strict being useful for cookies related to actions your user is taking.
