extends layout

block content
  h1= title
  p Welcome to #{title}
  div
    div
      button(onclick="cleanCookie()") cleanCookie
    hr
    div
      button(onclick="onAxios()") axios
    div
      button(onclick="onAjax()") $.ajax
    div
      button(onclick="onFetch()") Native fetch
    div
      button(onclick="onWhatWgFetch()") whatwg-fetch
