doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/axios/axios.js')
    script(src='/jquery/jquery.js')
    script(src='/javascripts/tests.js')
    script(src='/whatwg-fetch/fetch.js')
  body
    block content
    hr
    div
        pre(id='console-log-div')
    script(src='/console-log-div/console-log-div.js')
